# Chapter 02 자료형

## 2.1 변수와 상수

### 변수 선언하기

In [1]:
a1 = 2048          # 변수 a1은 숫자를 저장
a2 = "안녕하세요." # 변수 a2는 문자열을 저장

In [2]:
print(a2)

안녕하세요.

In [3]:
a = 1024        # 변수 a에 1024를 저장
print (a)       # a를 화면에 출력

1024

### 변수명 규칙

- 영문자, 숫자, 언더바(_)로 구성
- 특수문자, 공백 등은 <b>사용X</b>
- 예약어(Reserved Words) <b>사용X</b>

In [4]:
100원 = "백원"              # 변수명을 숫자 100으로 시작하여 에러 발생
email@ = "test@naver.com"   # 변수명에 특수문자 @를 사용하여 에러 발생
my age = 30                 # 변수명에 공백을 사용하여 에러 발생
break = 100                # 변수명에 예약어를 사용하여 에러 발생

SyntaxError: invalid syntax (<ipython-input-4-1ed19c576c1d>, line 1)

### 상수 사용하기

In [5]:
print(20)         # 숫자 상수 20을 화면에 출력
print('A')        # 문자 상수 ‘A’를 화면에 출력
print("선생님")   # 문자열 상수 "선생님"을 화면에 출력

20
A
선생님

In [6]:
x = 3                   # 변수 x에 3을 저장
y = x + 2               # 변수 x에 2를 더하여 y에 저장
print(y)                # 변수 y를 화면에 출력

s= "선생님"                    # 변수 s에 “선생님” 저장
s = s + ", " + "안녕하세요!"   # 변수 s에 “, “ 와 "안녕하세요!"를 더하여 s에 다시 저장
print(s)                       # 변수 s를 화면에 출력

5
선생님, 안녕하세요!

## 2.2 기본 자료형

- 숫자 자료형, 문자열 자료형, bool 자료형, <b>복합 자료형</b>(리스트, 튜플, 딕셔너리 )

### 숫자

In [7]:
a = 359          # 변수 a에 359를 저장
print(type(a))   # a의 자료형을 출력(정수형)

<class 'int'>

In [8]:
a = 359         # 변수 a에 359를 저장
a               # print() 함수를 사용하지 않아도 저장된 값 확인 가능

359

In [9]:
a = -3.619      # 변수 a에 -3.619를 저장
print(type(a))  # a의 자료형을 출력(실수형)

<class 'float'>

In [10]:
a = 27          # 변수 a에 27을 저장
b = 9           # 변수 b에 9를 저장
a + b           # a와 b 더하기, 연산자 + 사용

36

In [11]:
a - b           # a에서 b 빼기, 연산자 - 사용

18

In [12]:
a * b           # a와 b 곱하기, 연산자 * 사용

243

In [13]:
print(a / b)        # a를 b로 나누었을 때 값 구하기, 연산자 / 사용
print(a // b)       # a를 b로 나누었을 때 몫 구하기, 연산자 // 사용
print(a % b)        # a를 b로 나누었을 때 나머지 구하기, 연산자 % 사용

3.0
3
0

In [14]:
4 ** 3         # 4의 세제곱, 연산자 ** 사용

64

In [15]:
3 + 2 ** 3 / (5-3)

7.0

In [16]:
abs(-3)        # -3의 절대값을 구함

3

In [17]:
round(3.14159, 3)    # 실수 3.14159를 소수점 넷째 자리에서 반올림하여 셋째 자리까지 출력

3.142

In [18]:
a = 0o467        # 8진수 표현
b = 0x7fc        # 16진수 표현
print(a)
print(b)

311
2044

### 문자열

In [19]:
a = "Hello Python!"
a

'Hello Python!'

In [20]:
type(a)

str

In [21]:
sen = "It's mine."       # 작은따옴표를 문자열 안에 포함할 때
print(sen)

It's mine.

In [22]:
sen2 = '“It is impossible.” He says.'    # 큰따옴표를 문자열 안에 포함할 때
print(sen2)

“It is impossible.” He says.

--------------

문자열 안에 들어가는 따옴표 앞에 \(백슬래시)를 사용하면 된다.

In [23]:
sen3 = 'It\'s mine.'                       # 작은따옴표를 문자열 앞뒤와 안에 사용
sen4 = "\"It is impossible.\" He says."    # 큰따옴표를 문자열 앞뒤와 안에 사용
print(sen3)
print(sen4)

It's mine.
"It is impossible." He says.

In [25]:
a = """Hello!

Python!"""
print(a)

Hello!

Python!

In [26]:
a = "Hello!\nPython!"
print(a)

Hello!
Python!

In [27]:
a = "Hello! "
b = "Python!"
print(a + b)    # 문자열 변수인 a와 b를 연결

Hello! Python!

In [28]:
a * 3          # 문자열 변수 a를 3번 반복

'Hello! Hello! Hello! '

In [29]:
a = "26"
b = "3"
a + b         # 문자열 변수 a와 b를 연결

'263'

In [30]:
a * 3        # 문자열 변수 a를 3번 반복

'262626'

In [31]:
a = 26      # 변수 a에 숫자 자료형(정수) 26을 저장
b ="8"      # 변수 b에 문자열 자료형 8을 저장
a + b       # 연산은 동일한 자료형끼리만 가능

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### 문자열 인덱싱과 슬라이싱

In [32]:
a = "Hello! Python!"

In [33]:
a[-1]       # 뒤에서부터 인덱스를 계산, 인덱스 -1의 위치는 !

'!'

In [34]:
a[3]        # 뒤에서부터 인덱스를 계산, 인덱스 3의 위치는 l

'l'

In [35]:
a[3:9]      # 인덱스 3부터 8까지 추출

'lo! Py'

In [36]:
a[3:-4]    # 인덱스 3부터 -5까지 추출

'lo! Pyt'

In [37]:
a[:8]      # 문자열 처음부터 인덱스 7까지 추출

'Hello! P'

In [38]:
a[3:]      # 인덱스 3부터 문자열 끝까지 추출

'lo! Python!'

In [39]:
a = "Life"                  # 변수 a에 문자열 자료형 "Life"를 저장
b = a[0:2] + "v" + a[-1]    # 슬라이싱 활용
print(b)

Live

#### 문자열 포맷팅
- 문자열 안에 있는 어떤 값을 바꿀 때 사용하는 방법

In [40]:
"I eat %s bananas." %3         # %s 대신 3을 입력해서 값을 출력

'I eat 3 bananas.'

In [41]:
"I eat %s bananas." %"three"   # %s 대신 “three”를 입력해서 값을 출력

'I eat three bananas.'

In [42]:
color = "blue"                 # color 변수를 생성
"I like %s color."  %color     # %s 대신 변수 color에 저장된 “blue” 값을 출력

'I like blue color.'

In [43]:
ar = "%15s"  %"hello"         # 문자열 길이 15, hello 오른쪽 정렬 
ar

'          hello'

In [44]:
ar = "%-15s" % "hello"        # 문자열 길이 15, hello 왼쪽 정렬
ar

'hello          '

In [45]:
ar = "John%10s" % "hello"     # John 다음에 공백 10개 추가, hello 오른쪽 정렬
print(ar)

John     hello

In [46]:
a = "%4d"%34                  # 공백을 4개 만들고 정수를 오른쪽 정렬 출력
print(a)

  34

In [47]:
b = "%10.2f" %5.6182359      # 공백을 10개 만들고 실수를 소수점 둘째 자리까지 오른쪽 정렬 
print(b)

      5.62

In [48]:
test = "I need {} eggs.".format(5)   # format 함수에 있는 값 “5”가 {} 위치에 들어감
print(test)

I need 5 eggs.

In [49]:
color = "white"
num = 5
test = "I like {} egg. I need {} eggs.".format(color, num)  # 여러 개의 값을 변수로 입력
print(test)

I like white egg. I need 5 eggs.

In [50]:
a = "{:.2f}".format(5.6182359)   # 소수점 둘째 자리까지 표현(소수점 셋째 자리에서 반올림)
print(a)

5.62

In [51]:
x = 5.6182359
a = "{:15.2f}".format(x)         # 숫자 길이 15, 오른쪽 정렬, 소수점 둘째 자리까지 표현
print(a)

           5.62

In [52]:
a = "I eat banana."
a.count("n")         # 문자열에서 “n”의 개수 구하기

2

In [53]:
a = "I eat banana."
print(a.find("n"))      # find() 함수 활용, 문자열에서 “n”이 처음 나오는 인덱스 값 구하기
print(a.index("n"))     # index() 함수 활용, 문자열에서 “n”이 처음 나오는 인덱스 값 구하기

8
8

In [54]:
print(a.find("d"))      # 문자열에서 “d”가 처음 나오는 인덱스 값 구하기
print(a.index("d"))     # 문자열에서 “d”가 처음 나오는 인덱스 값 구하기

-1

ValueError: substring not found

찾는 문자가 없는 경우, find는 -1의 값을 돌려주고, index()는 에러를 발생시킨다.

----------------

In [55]:
b = ",".join("fruit")   # join() 함수 안에 있는 문자열의 문자 사이에 “,” 삽입하기
print(b)

f,r,u,i,t

In [60]:
print(b[0])
print(b[1])
print(b[2])

f
,
r

In [61]:
a = "Hello"
print(a.upper())       # 문자를 전부 대문자로 변경
print(a.lower())       # 문자를 전부 소문자로 변경

HELLO
hello

In [62]:
a = "  Hello  "
print(a.strip()) ; print(a.lstrip()) ; print(a.rstrip())

Hello
Hello
  Hello

In [63]:
a = "I eat banana."
a.split()           # 공백을 기준으로 문자열 나누기

['I', 'eat', 'banana.']

In [64]:
a = "a:b:c:d:e"
a.split(':')        # ':'을 기준으로 문자열 나누기

['a', 'b', 'c', 'd', 'e']

In [67]:
a.split(':')[1]

'b'

In [68]:
a = "I eat banana."
print(a.replace("a", "b", 1))   # 문자열에서 “a”를 “b”로 1회 변경
print(a.replace("a", "b"))      # 문자열에서 “a”를 “b”로 모두 변경

I ebt banana.
I ebt bbnbnb.

### 불(Bool)

In [69]:
print(1 == 1)       # 1과 1이 같은지 판단,  True 출력
print(10 < 8 )      # 10이 8보다 작은지 판단,  False 출력

True
False

In [70]:
print(bool("python"))        # "python”이라는 문자열이 있으므로 True
print(bool(None))           #  None 또는 ““인 경우 False

True
False

- 따옴표 안에 공백(띄어쓰기)은 참이다.  
- 0은 False, 1은 True  

-----------------

## 2.3 복합 자료형

### 리스트
- 대괄호[ ]로 표현

In [71]:
a = [ ]                                 # 공백(띄어쓰기)을 데이터로 갖는 리스트
b = [1, 2, 3, 4, 5]                     # 숫자를 데이터로 갖는 리스트
c = ["I", "like", "python"]             # 문자열을 데이터로 갖는 리스트
d = [1, 2, "Python"]                    # 숫자와 문자열을 데이터로 갖는 리스트
e = [1, 2, ["Python", "C", "Java"]]     # 숫자와 리스트를 데이터로 갖는 리스트

In [73]:
print(e)

[1, 2, ['Python', 'C', 'Java']]

In [74]:
a = [3, 7, 9]
b = [4, 6, 10]
print(a + b)        # 리스트 자료형을 가진 변수 a에 변수 b의 데이터를 추가
print(a * 3)        # 리스트 자료형을 가진 변수 a의 데이터를 세 번 반복

[3, 7, 9, 4, 6, 10]
[3, 7, 9, 3, 7, 9, 3, 7, 9]

In [75]:
test = [75, 69, 95, 84, 89]
food = ["milk", "juice", "rice", "soup", "cookie"]
print(test[2])          # 인덱스가 0부터 시작하기 때문에 3번째 데이터인 95를 출력
print(food[3:5])        # 인덱스 3~4에 있는 데이터인 ‘soup’, ‘cookie’를 출력

95
['soup', 'cookie']

In [76]:
a = [1, 2, ["Python", "C", "Java"]]  # 숫자와 리스트를 데이터로 갖는 리스트(중첩 리스트)
print(a[2])         # 변수 a에 저장된 데이터 중 3번째 데이터를 출력
print(a[2][:2])     # 출력된 3번째 데이터에서 처음부터 인덱스 1까지 슬라이싱

['Python', 'C', 'Java']
['Python', 'C']

In [77]:
a = [1, 3, 5, 7, 6, 2, 4]
a[3] = 8            # 변수 a의 인덱스3 데이터를 8로 변경
print(a)

[1, 3, 5, 8, 6, 2, 4]

In [78]:
a = [1, 3, 5, 7, 6, 2, 4]
del a[3]           # 변수 a의 인덱스3 데이터 삭제
print(a)

[1, 3, 5, 6, 2, 4]

In [79]:
a = [1, 2, 3, 4]
a.append(3)        # 변수 a의 마지막 위치에 3을 추가
print(a)

[1, 2, 3, 4, 3]

In [80]:
a.append([3, 5, 9])  # 변수 a에 리스트를 추가
print(a)

[1, 2, 3, 4, 3, [3, 5, 9]]

In [81]:
a = [1, 2, 3, 4]
a.insert(0, 7)      # 변수 a의 인덱스 0 위치에 7을 추가
print(a)

[7, 1, 2, 3, 4]

In [82]:
a = [1, 2, 3, 4, 5, 4, 3, 2, 1]
a.remove(4)        # remove(x)는 리스트에서 첫 번째로 일치하는 x를 삭제
print(a)

[1, 2, 3, 5, 4, 3, 2, 1]

In [83]:
a = [1, 3, 5, 7, 6, 2, 4]
a.sort()           # 변수 a의 데이터를 오름차순 정렬
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [84]:
a = [1, 3, 5, 7, 6, 2, 4]
a.sort(reverse=True)      # 변수 a의 데이터를 내림차순 정렬
print(a)

[7, 6, 5, 4, 3, 2, 1]

In [86]:
a = [1, 3, 5, 7, 6, 2, 4]
a.reverse()            # 변수 a의 데이터 순서 뒤집기
print(a)

[4, 2, 6, 7, 5, 3, 1]

In [87]:
a = [1, 3, 5, 7, 6, 2, 4]
print(a.pop())         # 변수 a의 마지막 데이터를 보여준 다음 삭제
print(a)

4
[1, 3, 5, 7, 6, 2]

In [88]:
a = [1, 3, 5, 7, 6, 2, 4]
print(a.pop(3))       # 변수 a의 인덱스 3 데이터를 보여준 다음 삭제
print(a)

7
[1, 3, 5, 6, 2, 4]

In [89]:
a = [1, 3, 5, 7, 6, 2, 4]
a.extend([3, 5, 7])   # 변수 a에 3, 5, 7을 추가함
print(a)

[1, 3, 5, 7, 6, 2, 4, 3, 5, 7]

In [90]:
a = [1, 3, 5, 7, 6, 2, 4]
b = [3, 5, 7]
a.extend(b)          # 변수 a에 변수 b 데이터를 추가함
print(a)

[1, 3, 5, 7, 6, 2, 4, 3, 5, 7]

### 튜플
- 소괄호( )로 표현
- 리스트 내의 데이터들을 추가, 삭제, 수정할 수 있지만 튜플은 <b>수정이 불가능</b>

In [91]:
tp1 = ( )
tp2 = (1, )             # 데이터가 하나만 있는 튜플을 만들 경우 데이터 뒤에 ,(쉼표) 필수 입력
tp3 = (1, 2, 3)
tp4 = 1, 2, 3           # 괄호 () 생략 가능
tp5 = ("a", "b", ("ab", "cd"))

In [92]:
print(tp2)

(1,)

In [94]:
print(tp5)

('a', 'b', ('ab', 'cd'))

In [95]:
tp1 = (1, 2, 3, "a", "b", "c")
tp2 = (4, 5, 6)
print(tp1 + tp2)        # 튜플 자료형을 가진 변수 tp1과 tp2의 데이터를 합치기
print(tp2 * 2)          # 튜플 자료형을 가진 변수 tp2의 데이터를 두 번 반복하기

(1, 2, 3, 'a', 'b', 'c', 4, 5, 6)
(4, 5, 6, 4, 5, 6)

In [96]:
tp = (1, 2, ("ab", "cd", "ef"), 3, "a", "b", "c")   # 숫자, 문자열, 튜플을 데이터로 갖는 튜플
print(tp[2])            # 변수 tp에 저장된 데이터 중 3번째 데이터를 출력 
print(tp[2][:2])        # 변수 tp의 3번째 데이터에서 처음부터 인덱스 1까지 슬라이싱

('ab', 'cd', 'ef')
('ab', 'cd')

### 딕셔너리
- 중괄호 { }로 표현, key와 value 값을 쌍으로 갖는 자료형

In [97]:
dict1 = {"name" : "Lee", "age" : 29, "birth" : "0320"}  # 예시
dict2 = {1 : "ab"}                  # Key에 정수형, Value에 문자열 자료형을 입력한 예
dict3 = {"test" : [1, 3, 5, 7]}     # Value에 리스트 자료형을 입력한 예

In [98]:
dict4 = {"a" : [1, 2], "b" : [3, 4], "c" : [5, 6]}
print(dict4["a"])

[1, 2]

In [99]:
dict5 = {"a" : [1, 2]}
dict5["b"] = [3, 4]      # 변수 dict5에 Key:Value가 "b" : [3, 4]인 딕셔너리 쌍 추가
print(dict5)

{'a': [1, 2], 'b': [3, 4]}

In [100]:
dict6 = {"a" : [1, 2], "b" : [3, 4], "c" : [5, 6]}
del dict6["c"]          # Key "c"에 해당하는 Value [5, 6]을 삭제하면 Key : Value 쌍이 삭제됨
print(dict6)

{'a': [1, 2], 'b': [3, 4]}

In [102]:
list1 = [["a", 2], ["b", 4], ["c", 6]]
dict(list1)             # 중첩 리스트로 구성된 자료형을 딕셔너리로 변경

{'a': 2, 'b': 4, 'c': 6}

In [103]:
list2 = [("a", 2), ("b", 4), ("c", 6)]
dict(list2)             # 리스트 내 튜플로 구성된 자료형을 딕셔너리로 변경

{'a': 2, 'b': 4, 'c': 6}

In [104]:
tp1 = (["a", 2], ["b", 4], ["c", 6])
dict(tp1)               # 튜플 내 리스트로 구성된 자료형을 딕셔너리로 변경

{'a': 2, 'b': 4, 'c': 6}

In [105]:
tp2 = (("a", 2), ("b", 4), ("c", 6))
dict(tp2)               # 중첩 튜플로 구성된 자료형을 딕셔너리로 변경

{'a': 2, 'b': 4, 'c': 6}

In [106]:
a = 3       # 변수 a에 정수형 자료 저장
float(a)    # 변수 a를 실수형으로 변환

3.0

In [107]:
a = 3.619   # 변수 a에 실수형 자료 저장
int(a)      # 변수 a를 정수형으로 변환(소수점 자리는 버림)

3

In [108]:
b = [1, 2, 3, 4, 5]     # 변수 b에 리스트 자료 저장
tuple(b)                # 변수 b를 튜플형으로 변환

(1, 2, 3, 4, 5)

In [109]:
dict(b)     # 변수 b가 쌍으로 구성되지 않았기 때문에 딕셔너리로 변경 시 에러 발생

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [110]:
a = 5									# 정수
b = 3.14								# 실수
c = "love"								# 문자열
d = True								# 불
e = [1, 2, 3, 4, 5]						# 리스트
f = (6, 7, 8, 9, 10)					# 튜플
g = {"name":"park","number":"505"} 		# 딕셔너리
print(type(a),type(b))
print(type(c),type(d))
print(type(e),type(f),type(g))

<class 'int'> <class 'float'>
<class 'str'> <class 'bool'>
<class 'list'> <class 'tuple'> <class 'dict'>

In [111]:
dict1 = {"name" : "Lee", "age" : 29, "birth" : "0320"}
print(dict1.keys())          # 변수 dict1의 Key만 모아서 출력
print(list(dict1.keys()))    # 변수 dict1의 Key만 모인 객체를 리스트로 출력

dict_keys(['name', 'age', 'birth'])
['name', 'age', 'birth']

In [112]:
list(dict1.values())         # 변수 dict1의 Value만 모인 객체를 리스트로 출력

['Lee', 29, '0320']

In [113]:
dict2 = {"name" : "Lee", "age" : 29, "birth" : "0320"}
dict2.items()                # 변수 dict2의 Key와 Value 쌍을 튜플로 출력

dict_items([('name', 'Lee'), ('age', 29), ('birth', '0320')])

In [114]:
dict3 = {"name" : "Lee", "age" : 29, "birth" : "0320"}
dict3.clear()       # 변수 dict3 안의 모든 쌍을 삭제
print(dict3)

{}

In [115]:
dict3 = {"name" : "Lee", "age" : 29, "birth" : "0320"}
print("name" in dict3)    # 변수 dict3 안에 "name" Key가 있으면 True, 없으면 False

True

In [116]:
dict3 = {"name" : "Lee", "age" : 29, "birth" : "0320"}
print("Lee" in dict3)    # value 값에 있으면 False

False

### 집합

In [117]:
set1 = set([1, 2, 5, 3, 7, 4])
print(set1)                     # 숫자로 된 리스트의 집합 자료형은 분해되면서 오름차순으로 출력됨

{1, 2, 3, 4, 5, 7}

In [118]:
set2 = set("school bus")        # 문자열의 경우 문자로 분해되고 중복 문자는 제거됨
print(set2)                     # 집합 자료형은 순서를 가지지 않으므로 랜덤으로 출력됨

{'o', ' ', 'l', 'u', 'b', 'c', 's', 'h'}

In [119]:
set1 = set([1, 2, 3, 4, 5, 6, 7])
set2 = set([5, 6, 7, 8, 9, 10, 11])
print(set1 & set2)             # 교집합(두 집합의 공통 데이터)
print(set1.intersection(set2)) # 교집합(set2.intersection(set1)과 결과는 동일)

{5, 6, 7}
{5, 6, 7}

In [120]:
print(set1 | set2)          # 합집합(두 집합의 전체 데이터), |은 [shift] + [\]
print(set1.union(set2))     # 합집합(set2.union(set1)과 결과는 동일)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [121]:
print(set1 - set2)              # 차집합(set1에 포함되나 set2에 포함되지 않는 집합)
print(set1.difference(set2))    # 차집합(set2.difference(set1)과 결과는 다름)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [122]:
print(set2 - set1)             # 차집합(set2에 포함되나 set1에 포함되지 않는 집합)
print(set2.difference(set1))   # 차집합(set1.difference(set2)과 결과는 다름)

{8, 9, 10, 11}
{8, 9, 10, 11}

In [123]:
set1 = set([1, 2, 3, 5])
set1.add(4)
set1

{1, 2, 3, 4, 5}

In [125]:
set2 = set([1, 2, 3, 4, 5])
set2.update([5, 6, 7, 8])
set2

{1, 2, 3, 4, 5, 6, 7, 8}

In [126]:
set3 = set([1, 2, 3, 4, 5])
set3.remove(3)
set3

{1, 2, 4, 5}